__pycache__/
wandb/
tilingVIS/slice*
*.h5
.DS_Store
preTrainingVis/
predictionVis/
SweepVis/
SweepVISB1/
SweepVISB2/
SweepVISB3/
SweepVISB4/
LayerPlots/elevation/
LayerPlots/geoage/
elevation_data/
FULLSWEEP1/
prepared_data_TILES/
RaCA_DATA/
